<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>써드림</title>
    <link rel="icon" th:href="@{/img/surdream.ico}" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d5377ff581.js" crossorigin="anonymous"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- 설명 부분 예시를 슬라이드나 영상으로 한눈에 어케 쓰는지 볼 수 있게 -->
    <header>
      <div class="h_container">
        <a href="#" class="logo"><img th:src="@{/img/surLogo.png}" alt="써드림로고" /></a>
        <a href="#" class="goHaedream">
          <span>해드림 바로가기</span>
          <img th:src="@{/img/haeLogo_big.png}" alt="" />
        </a>
      </div>
    </header>
    <div class="container">
      <div class="sur_info">
        써드림은 입력한 주제에 맞는 내용으로 기획서를 생성해드립니다. 어떤 주제로 기획서를 생성하고 싶으신가요? 생각하신 주제를 주제 입력 칸에 작성 해주시고 관련 자료에 대한 링크가 있다면 링크 입력 칸에 링크도 입력해주세요!
      </div>
      <!-- 주제는 필수 입력  -->
      <form class="topicInfo">
      <h1 class="inputTitle">기획서 주제</h1>
      <div class="topic">
        <input
          class="input_topic"
          type="text"
          placeholder="ex) 기획서는 용언의 명사형으로 끝나는 문장으로 이루어져야 하고 비속어나 줄임말, 신조어 등은 들어가지 않아야 함"
        />
      </div>
      <!-- 링크는 옵션 (링크 입력안해도 생성하기 누르면 만들어짐) -->
      <h1 class="inputTitle">관련 자료 링크</h1>
      <div class="topicLink">
        <input class="inputLink" type="text" placeholder="참고 할 자료 링크를 입력해주세요 (선택사항)" />
      </div>
      <!-- 변경된 부분: button 요소의 type 속성을 "submit"에서 "button"으로 변경 -->
      <button class="submit" id="sendButton" type="reset">생성하기</button>
      </form>
      <div class="danger">아무래도 AI니까 맹신하지 말자</div>
      <div class="result result1">
        <h1>제안배경 및 필요성</h1>
        <div class="resultText">
        </div>
      </div>
      <div class="result result2">
        <h1>개발목표</h1>
        <div class="resultText">
        </div>
      </div>
      <div class="result result3">
        <h1>개발내용</h1>
        <div class="resultText">
        </div>
      </div>
      <div class="result result4">
        <h1>기대효과 및 활용방안</h1>
        <div class="resultText">
        </div>
      </div>
      <div class="result result5">
        <h1>STP전략</h1>
        <div class="resultText">
        </div>
      </div>
      <div class="result result6">
        <h1>데이터 확보방안</h1>
        <div class="resultText">
        </div>
      </div>
      <button class="download" type="button">다운로드</button>
    </div>
    <!-- container end -->
    <script th:inline="javascript">
      // 사용자가 입력한 topic python으로 보내는 코드
      document.getElementById("sendButton").addEventListener("click", async function() {
          // 실행중인 FastAPI 서버 주소
          const url = 'http://localhost:8006/receive_json';
          // 사용자가 입력한 topic 가져오기
          let topic = document.querySelector('input.input_topic').value;
          // topic을 JSON 형식으로 data에 담기 (키 이름을 'topic'으로 변경)
          let data = JSON.stringify({ topic: topic });
          try {
              // Python으로 전송
              const response = await fetch(url, {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: data
              });
              const responseData = await response.json();
              $.ajax({
                type:'POST',
                url:"/receiveData",
                contentType:"application/json",
                data:JSON.stringify({"data":"dummy"}),
                success: function(response){
                  let section = response.section;
                  let result = response.result;

                  appendResult(section,result);
                },
                error: function(error){
                  console.log(error);
                }
              })
          } catch (error) {
              console.error('Error:', error);
          }
      });
        

      function appendResult(section,result){
        let findH1 = $("h1:contains('" + section + "')");
        let resultHtml = "<p>" + result + "</p>";
        findH1.closest(".result").find(".resultText").append(result)
      }

      // 다운로드
      document.querySelector('button.download').addEventListener('click', function () {
        window.location.href = '/downloadDocx';
      });
    </script>
  </body>
</html>